<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Piipan.Dashboard</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <script>
        !function r(o,i,u){function c(n,e){if(!i[n]){if(!o[n]){var t="function"==typeof require&&require;if(!e&&t)return t(n,!0);if(s)return s(n,!0);throw(t=new Error("Cannot find module '"+n+"'")).code="MODULE_NOT_FOUND",t}t=i[n]={exports:{}},o[n][0].call(t.exports,function(e){return c(o[n][1][e]||e)},t,t.exports,r,o,i,u)}return i[n].exports}for(var s="function"==typeof require&&require,e=0;e<u.length;e++)c(u[e]);return c}({1:[function(e,n,t){"use strict";var r,o,i=window.document.documentElement,u="usa-js-loading";function c(){i.className=i.className.replace(u,"")}"querySelector"in window.document&&"addEventListener"in window&&(i.className+=" ".concat(u),r=setTimeout(c,8e3),o=100,function e(){setTimeout(function(){o+=1,"undefined"!=typeof uswdsPresent?(clearTimeout(r),setTimeout(c,100)):0<o&&e()},100)}())},{}]},{},[1]);
        //# sourceMappingURL=uswds-init.min.js.map
    </script>
    <script src="~/js/uswds.min.js" asp-append-version="true"></script>
</head>
<body>
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    <partial name="_UsaBanner" />
    <div class="usa-overlay"></div>
    <header class="usa-header usa-header--extended">
        <div class="usa-navbar">
            <div class="usa-logo" id="extended-logo">
                <h1 class="usa-logo__text font-heading-xl"><a asp-page="/Index" title="Home" aria-label="Home">NAC Metrics Dashboard</a></h1>
            </div>
            <button class="usa-menu-btn">Menu</button>
            <div class="usa-nav" style="">
                <ul class="usa-nav__primary usa-accordion flex-justify-end">
                    @if(!String.IsNullOrEmpty(Model.Email))
                    {
                        <li class="usa-nav__primary-item">
                            <button class="usa-accordion__button usa-nav__link usa-current" aria-expanded="false" aria-controls="nav-user">
                                <span>@Model.Email</span>
                            </button>
                            <ul id="nav-user" class="usa-nav__submenu" hidden>
                                <li class="usa-nav__submenu-item">
                                    <a href="/.auth/logout?post_logout_redirect_uri=@(Model.BaseUrl)/SignedOut">Sign out</a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </header>
    <div class="container">
        <main id="main-content">
            @RenderBody()
        </main>
    </div>
</body>
</html>
