<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
    <script src="~/js/uswds-init.min.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/styles.css" />
    <script src="~/js/uswds.min.js" asp-append-version="true"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
