.DS_Store

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
iac/env/tts/eth.bash
libicu57_57.1-6+deb9u4_amd64.deb
.bash_history
