@page
@model IndexModel

@{
  ViewData["Title"] = "National Accuracy Clearinghouse Metrics Dashboard";
}
<div class="grid-container">
    <h1>NAC Metrics Dashboard</h1>
    <ul class="usa-list">
      <li><a asp-page="/ParticipantUploads">SNAP participant data uploads by state</a></li>
    </ul>
</div>
