@page
@model IndexModel

<div class="grid-container">
    <p>@Model.Message</p>
    <p>@Model.Email</p>

    <ul class="usa-list">
      <li><a asp-page="/ParticipantUploads">Participant Uploads</a></li>
    </ul>
</div>
