@page
@model IndexModel

<div class="text-center">
    <h1>@Model.Title</h1>
    <form asp-page="Index">
        <div><label asp-for="Query.LastName"></label><input type="text" asp-for="Query.LastName"></div>
        <div><label asp-for="Query.MiddleName"></label><input type="text" asp-for="Query.MiddleName"></div>
        <div><label asp-for="Query.FirstName"></label><input type="text" asp-for="Query.FirstName"></div>
        <div><label asp-for="Query.SocialSecurityNum"></label><input type="text" asp-for="Query.SocialSecurityNum"></div>
        <div><label asp-for="Query.DateOfBirth"></label><input type="text" asp-for="Query.DateOfBirth"></div>
        <button type="submit">Submit</button>
    </form>
</div>
