@page
@model IndexModel

@{
    ViewData["Title"] = "NAC Query Tool";
}
<div class="grid-container">
    <h1>@Model.Title</h1>
    <form action="" class="usa-form">
        <fieldset class="usa-fieldset">
            <legend class="usa-legend">Search for dual enrollments</legend>
            <label class="usa-label" asp-for="Query.LastName"></label>
            <input class="usa-input" type="text" asp-for="Query.LastName" />
            <label class="usa-label" asp-for="Query.MiddleName"></label>
            <input class="usa-input" type="text" asp-for="Query.MiddleName" />
            <label class="usa-label" asp-for="Query.FirstName"></label>
            <input class="usa-input" type="text" asp-for="Query.FirstName" />
            <label class="usa-label" asp-for="Query.SocialSecurityNum"></label>
            <input class="usa-input" type="text" asp-for="Query.SocialSecurityNum">
            <label class="usa-label" asp-for="Query.DateOfBirth"></label>
            <input class="usa-input" type="text" asp-for="Query.DateOfBirth">
            <input class="usa-button" type="submit" value="Submit" />
        </fieldset>
    </form>
</div>
