//
// USWDS Overrides for usa-nav and related classes
//

.usa-nav {
  // fixes user dropdown from hiding behind main content
  @include at-media('desktop') {
    position: static;
  }
}

.usa-header--extended .usa-navbar {
  @include at-media('desktop') {
    display: flex !important;
  }
}

.usa-header--extended .usa-nav {
  @include at-media('desktop') {
    border-top: none;
  }
}
